<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/
    
    # Allow direct access to uploads folder
    RewriteCond %{REQUEST_URI} ^/api/uploads/
    RewriteRule ^ - [L]
    
    # Don't rewrite files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite everything else to index.php to allow routing
    RewriteRule ^(.+)$ index.php [QSA,L]
</IfModule>